body {
    background: #e4e4e4;
    font-family: sans-serif;
    color: #879fb7;
    line-height: 1.5;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #0094d4;
    font-size: 2em;
}

a {
    color: #2cafe0;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #9f7d6f;
    font-weight: bold;
    text-decoration: none;
    text-decoration: underline;
}

#container {
    width: 960px;
    margin: 0 auto;
    background: #ffffff;
}